In [1]:
import pandas as pd 
import numpy as np
import requests
from sqlalchemy import create_engine

In [2]:
# Define the range of seasons and suffixes
seasons = np.arange(2024,2014,-1,'object')
suffixes = [f"{season}dru" for season in seasons]

# Base URL
url = 'https://node.gurustats.usermd.net:60519/pgee'


with requests.Session() as session:
    frames = []
    for suffix in suffixes:
        full_url = f"{url}{suffix}"

        try:
            # Make a GET request and check if the request is successful
            response = session.get(full_url)
            response.raise_for_status() # Raise an error for bad status codes

            response = session.get(full_url)
            response.raise_for_status()

            # Parse the JSON response
            data = response.json()

            # Ensure 'data' key exists in the response
            if 'data' in data:
                sesason = suffix[:4]
                df = pd.DataFrame(data['data'])
                df.insert(1,"Sezon",sesason)
                frames.append(df)
            else:
                print(f"No 'data' key found in the response for {suffix}")
        
        except requests.RequestException as e:
            print(f"Request failed for {suffix}: {e}")
        except ValueError:
            print(f"Failed to parse JSON for {suffix}")

# Concatenate all dataframes
if frames:
    df_pgee = pd.concat(frames,ignore_index=True)
    print("Data successfully concatenated!")
else:
    print("No dataframes to concatenate.")

Data successfully concatenated!

In [3]:
df_pgee

,_id,Sezon,KLUB,PKTTABELA,BONTABELA,PKTZDOBYTE,PKTSTRACONE,PLUSMINUS,Z,R,...,DYSTPOR,STARTBIL,DYSTBIL,MSCTABELA,id,liczba zm takt,śr pkt takt,liczba zm zwyklych,śr pkt zwyklych,MSC TABELA
0,67045bb8cc786ae94f25f289,2024,Wrocław,19,4,920,878,42,11,1,...,121.0,25.0,9.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN
1,67045bb8cc786ae94f25f28a,2024,Leszno,11,,586,673,-87,5,1,...,110.0,-76.0,-2.0,8.0,5.0,NaN,NaN,NaN,NaN,NaN
2,67045bb8cc786ae94f25f28b,2024,Gorzów,19,3,848,860,-52,10,,...,135.0,50.0,-27.0,4.0,10.0,NaN,NaN,NaN,NaN,NaN
3,67045bb8cc786ae94f25f28c,2024,Grudziądz,14,2,641,677,-76,6,,...,84.0,-20.0,-13.0,5.0,1.0,NaN,NaN,NaN,NaN,NaN
4,67045bb8cc786ae94f25f28d,2024,Toruń,15,3,889,909,-20,9,,...,117.0,-106.0,38.0,3.0,14.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,5ac22d870b3a2dd84a4dd7a6,2015,MRGARDEN GKM Grudziądz,10,0,537,721,-184,5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,5ac22d870b3a2dd84a4dd7a7,2015,PGE Stal Rzeszów,13,2,615,641,-26,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,5ac22d870b3a2dd84a4dd7a8,2015,MONEYmakesMONEY.pl Stal Gorzów,13,3,634,624,10,5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,5ac22d870b3a2dd84a4dd7a9,2015,Unia Tarnów,21,4,827,792,35,11,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,5ac22d870b3a2dd84a4dd7aa,2015,Spar Falubaz Zielona Góra,16,3,627,628,-1,6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_pgee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 42 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 80 non-null     object
 1   Sezon               80 non-null     object
 2   KLUB                80 non-null     object
 3   PKTTABELA           80 non-null     int64
 4   BONTABELA           80 non-null     object
 5   PKTZDOBYTE          80 non-null     int64
 6   PKTSTRACONE         80 non-null     int64
 7   PLUSMINUS           80 non-null     int64
 8   Z                   80 non-null     object
 9   R                   80 non-null     object
 10  P                   80 non-null     int64
 11  PKTPER15            80 non-null     float64
 12  PKTDOMPER15         80 non-null     float64
 13  PKTWYJAZDPER15      80 non-null     float64
 14  WIEK                80 non-null     float64
 15  TRIUMFY             80 non-null     float64
 16  BONUSY              80 non-null     float64
 17  WYNIK51             80 non-null     int64
 18  WYNIK42             80 non-null     int64
 19  WYNIK33             80 non-null     int64
 20  WYNIK24             80 non-null     int64
 21  WYNIK15             80 non-null     int64
 22  WYNIK3321           80 non-null     int64
 23  WYNIK3330           80 non-null     int64
 24  PKTJUNIORZY         80 non-null     float64
 25  PKTPOL              80 non-null     float64
 26  PKTOBCO             80 non-null     float64
 27  PROCPKTPOL          80 non-null     float64
 28  PROCPKTOBCO         80 non-null     float64
 29  STARTWYG            40 non-null     float64
 30  STARTPOR            40 non-null     float64
 31  DYSTWYG             40 non-null     float64
 32  DYSTPOR             40 non-null     float64
 33  STARTBIL            40 non-null     float64
 34  DYSTBIL             40 non-null     float64
 35  MSCTABELA           32 non-null     float64
 36  id                  8 non-null      float64
 37  liczba zm takt      8 non-null      float64
 38  śr pkt takt         8 non-null      float64
 39  liczba zm zwyklych  8 non-null      float64
 40  śr pkt zwyklych     8 non-null      float64
 41  MSC TABELA          8 non-null      object
dtypes: float64(23), int64(12), object(7)
memory usage: 26.4+ KB

In [5]:
df_pgee = df_pgee.iloc[:,1:36]

In [6]:
df_pgee

,Sezon,KLUB,PKTTABELA,BONTABELA,PKTZDOBYTE,PKTSTRACONE,PLUSMINUS,Z,R,P,...,PKTOBCO,PROCPKTPOL,PROCPKTOBCO,STARTWYG,STARTPOR,DYSTWYG,DYSTPOR,STARTBIL,DYSTBIL,MSCTABELA
0,2024,Wrocław,19,4,920,878,42,11,1,8,...,12.55,0.727,0.273,587.0,562.0,130.0,121.0,25.0,9.0,2.0
1,2024,Leszno,11,,586,673,-87,5,1,8,...,18.79,0.551,0.449,369.0,445.0,108.0,110.0,-76.0,-2.0,8.0
2,2024,Gorzów,19,3,848,860,-52,10,,10,...,19.95,0.553,0.447,574.0,524.0,108.0,135.0,50.0,-27.0,4.0
3,2024,Grudziądz,14,2,641,677,-76,6,,10,...,26.07,0.390,0.610,414.0,434.0,71.0,84.0,-20.0,-13.0,5.0
4,2024,Toruń,15,3,889,909,-20,9,,11,...,12.10,0.728,0.272,527.0,633.0,155.0,117.0,-106.0,38.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2015,MRGARDEN GKM Grudziądz,10,0,537,721,-184,5,0,9,...,10.07,0.737,0.263,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,2015,PGE Stal Rzeszów,13,2,615,641,-26,5,1,8,...,26.71,0.392,0.608,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,2015,MONEYmakesMONEY.pl Stal Gorzów,13,3,634,624,10,5,0,9,...,20.21,0.554,0.446,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,2015,Unia Tarnów,21,4,827,792,35,11,1,6,...,27.17,0.409,0.591,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,2015,Spar Falubaz Zielona Góra,16,3,627,628,-1,6,1,7,...,14.64,0.673,0.327,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_pgee.dtypes

Sezon              object
KLUB               object
PKTTABELA           int64
BONTABELA          object
PKTZDOBYTE          int64
PKTSTRACONE         int64
PLUSMINUS           int64
Z                  object
R                  object
P                   int64
PKTPER15          float64
PKTDOMPER15       float64
PKTWYJAZDPER15    float64
WIEK              float64
TRIUMFY           float64
BONUSY            float64
WYNIK51             int64
WYNIK42             int64
WYNIK33             int64
WYNIK24             int64
WYNIK15             int64
WYNIK3321           int64
WYNIK3330           int64
PKTJUNIORZY       float64
PKTPOL            float64
PKTOBCO           float64
PROCPKTPOL        float64
PROCPKTOBCO       float64
STARTWYG          float64
STARTPOR          float64
DYSTWYG           float64
DYSTPOR           float64
STARTBIL          float64
DYSTBIL           float64
MSCTABELA         float64
dtype: object

In [8]:
df_pgee.Sezon = df_pgee.Sezon.astype('Int64')

In [9]:
df_pgee["BONTABELA"].replace('',0,inplace=True)
df_pgee['BONTABELA'] = df_pgee['BONTABELA'].astype('Int64')

In [10]:
df_pgee["Z"].replace('',0,inplace=True)
df_pgee["R"].replace('',0,inplace=True)
df_pgee['Z'] = df_pgee['Z'].astype('Int64')
df_pgee['R'] = df_pgee['R'].astype('Int64')

In [11]:
df_pgee.dtypes

Sezon               Int64
KLUB               object
PKTTABELA           int64
BONTABELA           Int64
PKTZDOBYTE          int64
PKTSTRACONE         int64
PLUSMINUS           int64
Z                   Int64
R                   Int64
P                   int64
PKTPER15          float64
PKTDOMPER15       float64
PKTWYJAZDPER15    float64
WIEK              float64
TRIUMFY           float64
BONUSY            float64
WYNIK51             int64
WYNIK42             int64
WYNIK33             int64
WYNIK24             int64
WYNIK15             int64
WYNIK3321           int64
WYNIK3330           int64
PKTJUNIORZY       float64
PKTPOL            float64
PKTOBCO           float64
PROCPKTPOL        float64
PROCPKTOBCO       float64
STARTWYG          float64
STARTPOR          float64
DYSTWYG           float64
DYSTPOR           float64
STARTBIL          float64
DYSTBIL           float64
MSCTABELA         float64
dtype: object

In [12]:
df_pgee.isnull().sum()

Sezon              0
KLUB               0
PKTTABELA          0
BONTABELA          0
PKTZDOBYTE         0
PKTSTRACONE        0
PLUSMINUS          0
Z                  0
R                  0
P                  0
PKTPER15           0
PKTDOMPER15        0
PKTWYJAZDPER15     0
WIEK               0
TRIUMFY            0
BONUSY             0
WYNIK51            0
WYNIK42            0
WYNIK33            0
WYNIK24            0
WYNIK15            0
WYNIK3321          0
WYNIK3330          0
PKTJUNIORZY        0
PKTPOL             0
PKTOBCO            0
PROCPKTPOL         0
PROCPKTOBCO        0
STARTWYG          40
STARTPOR          40
DYSTWYG           40
DYSTPOR           40
STARTBIL          40
DYSTBIL           40
MSCTABELA         48
dtype: int64

In [13]:
df_pgee.drop(columns=["STARTWYG","STARTPOR","DYSTWYG","DYSTPOR","STARTBIL","DYSTBIL"],inplace=True)

In [14]:
df_pgee.loc[df_pgee["MSCTABELA"].isnull()]

,Sezon,KLUB,PKTTABELA,BONTABELA,PKTZDOBYTE,PKTSTRACONE,PLUSMINUS,Z,R,P,...,WYNIK24,WYNIK15,WYNIK3321,WYNIK3330,PKTJUNIORZY,PKTPOL,PKTOBCO,PROCPKTPOL,PROCPKTOBCO,MSCTABELA
32,2020,Betard Sparta Wrocław,20,4,815,783,32,9,2,7,...,46,40,51,37,8.56,23.28,22.00,0.514,0.486,NaN
33,2020,FOGO Unia Leszno,28,6,917,702,215,14,0,4,...,33,30,37,42,9.44,32.94,18.00,0.647,0.353,NaN
34,2020,MRGARDEN GKM Grudziądz,10,1,561,663,-102,4,1,9,...,47,34,22,56,2.14,8.43,31.64,0.210,0.790,NaN
35,2020,Eltrox Włókniarz Częstochowa,19,5,619,591,28,6,2,6,...,30,20,42,33,7.69,19.08,28.54,0.401,0.599,NaN
36,2020,PGG ROW Rybnik,2,0,489,770,-281,1,0,13,...,49,59,47,34,3.00,14.79,20.14,0.423,0.577,NaN
37,2020,Motor Lublin,19,3,658,602,56,8,0,6,...,29,29,37,36,6.36,18.14,28.86,0.386,0.614,NaN
38,2020,RM Solar Falubaz Zielona Góra,20,3,796,802,-6,9,1,8,...,33,48,57,43,7.67,23.94,20.28,0.541,0.459,NaN
39,2020,Moje Bermudy Stal Gorzów,21,5,795,737,58,10,0,8,...,44,43,28,40,5.35,26.82,17.59,0.604,0.396,NaN
40,2019,FOGO Unia Leszno,32,7,934,686,248,16,1,1,...,29,20,38,47,12.17,36.28,15.61,0.699,0.301,NaN
41,2019,Betard Sparta Wrocław,26,6,836,783,53,11,0,7,...,45,37,53,39,11.94,24.39,22.06,0.525,0.475,NaN
42,2019,truly.work Stal Gorzów,11,0,594,664,-70,5,1,8,...,38,39,31,50,5.77,33.69,8.54,0.798,0.202,NaN
43,2019,Get Well Toruń,5,1,553,706,-153,2,0,12,...,49,40,40,43,2.29,6.79,32.71,0.172,0.828,NaN
44,2019,forBET Włókniarz Częstochowa,19,5,795,824,-29,7,2,9,...,58,41,42,45,5.83,14.83,29.33,0.336,0.664,NaN
45,2019,Stelmet Falubaz Zielona Góra,20,4,813,806,7,10,0,8,...,40,41,54,49,4.28,19.50,25.67,0.432,0.568,NaN
46,2019,Speed Car Motor Lublin,11,2,603,657,-54,4,1,9,...,40,35,46,29,8.71,19.79,23.29,0.459,0.541,NaN
47,2019,MRGARDEN GKM Grudziądz,16,3,628,630,-2,6,1,7,...,28,30,46,48,4.21,19.29,25.57,0.430,0.570,NaN
48,2018,FOGO Unia Leszno,29,7,904,716,188,13,2,3,...,24,28,54,47,11.59,35.12,15.12,0.699,0.301,NaN
49,2018,Betard Sparta Wrocław,19,3,833,787,46,8,2,8,...,52,27,45,54,10.67,21.39,24.89,0.462,0.538,NaN
50,2018,forBET Włókniarz Częstochowa,19,2,799,821,-22,8,2,8,...,54,38,48,49,4.61,14.61,29.78,0.329,0.671,NaN
51,2018,Cash Broker Stal Gorzów,21,4,834,779,55,11,1,6,...,43,31,46,59,4.53,38.71,8.00,0.829,0.171,NaN
52,2018,Get Well Toruń,18,5,620,639,-19,6,1,7,...,39,28,46,36,6.38,16.54,27.23,0.378,0.622,NaN
53,2018,Grupa Azoty Unia Tarnów,10,0,581,679,-98,5,0,9,...,43,43,36,31,3.46,14.92,26.77,0.358,0.642,NaN
54,2018,MRGARDEN GKM Grudziądz,12,2,587,673,-86,4,2,8,...,45,34,37,44,3.14,20.36,21.57,0.486,0.514,NaN
55,2018,Falubaz Zielona Góra,10,2,595,659,-64,4,0,10,...,43,35,40,32,5.36,30.57,11.93,0.719,0.281,NaN
56,2017,Betard Sparta Wrocław,25,6,845,774,71,10,3,5,...,37,42,43,45,10.33,25.83,21.11,0.550,0.450,NaN
57,2017,Cash Broker Stal Gorzów,23,5,850,768,82,10,3,5,...,39,33,59,42,5.39,30.39,16.83,0.644,0.356,NaN
58,2017,Ekantor.pl Falubaz Zielona Góra,25,5,800,778,22,9,3,6,...,36,38,48,64,4.06,31.22,13.22,0.703,0.297,NaN
59,2017,FOGO Unia Leszno,23,5,861,757,104,11,2,5,...,38,36,54,42,9.50,31.89,15.94,0.667,0.333,NaN
60,2017,Get Well Toruń,8,2,587,661,-74,3,0,11,...,40,41,39,30,4.93,16.93,25.00,0.404,0.596,NaN
61,2017,MRGARDEN GKM Grudziądz,10,1,570,633,-63,4,1,9,...,30,40,33,46,2.43,20.64,20.07,0.507,0.493,NaN
62,2017,Włókniarz Vitroszlif CrossFit Częstochowa,17,2,594,655,-61,7,1,6,...,40,36,34,38,5.43,20.93,21.50,0.493,0.507,NaN
63,2017,ROW Rybnik,8,1,584,665,-81,3,1,10,...,31,39,40,43,11.14,19.21,22.50,0.461,0.539,NaN
64,2016,Betard Sparta Wrocław,17,2,788,819,-31,7,1,10,...,48,51,40,38,5.44,23.22,20.56,0.530,0.470,NaN
65,2016,Ekantor.pl Falubaz Zielona Góra,27,6,864,755,109,13,1,4,...,50,30,33,48,7.83,31.11,16.89,0.648,0.352,NaN
66,2016,MRGARDEN GKM Grudziądz,16,2,621,639,-18,7,0,7,...,31,39,39,38,5.29,25.57,18.79,0.576,0.424,NaN
67,2016,Unia Tarnów,7,1,546,713,-167,3,0,11,...,49,44,24,53,3.71,18.00,21.00,0.462,0.538,NaN
68,2016,ROW Rybnik,12,3,599,658,-59,4,1,9,...,32,40,44,34,6.57,17.79,25.00,0.416,0.584,NaN
69,2016,Stal Gorzów,27,6,882,724,158,13,1,4,...,29,34,60,35,14.00,30.22,18.78,0.617,0.383,NaN
70,2016,FOGO Unia Leszno,10,2,593,665,-72,3,2,9,...,43,37,41,31,5.57,25.57,16.79,0.604,0.396,NaN
71,2016,Get Well Toruń,22,4,849,769,80,11,0,7,...,39,35,46,50,7.72,16.94,30.22,0.359,0.641,NaN
72,2015,FOGO Unia Leszno,29,5,861,756,105,14,1,3,...,41,33,40,51,11.11,27.50,20.33,0.575,0.425,NaN
73,2015,Betard Sparta Wrocław,18,5,843,775,68,7,2,9,...,46,35,41,42,9.11,24.56,22.28,0.524,0.476,NaN
74,2015,KS Toruń,17,3,803,810,-7,7,2,9,...,52,39,64,32,11.83,20.44,24.17,0.458,0.542,NaN
75,2015,MRGARDEN GKM Grudziądz,10,0,537,721,-184,5,0,9,...,43,57,33,33,3.57,28.29,10.07,0.737,0.263,NaN
76,2015,PGE Stal Rzeszów,13,2,615,641,-26,5,1,8,...,26,41,32,42,7.21,17.21,26.71,0.392,0.608,NaN
77,2015,MONEYmakesMONEY.pl Stal Gorzów,13,3,634,624,10,5,0,9,...,25,41,44,25,14.57,25.07,20.21,0.554,0.446,NaN
78,2015,Unia Tarnów,21,4,827,792,35,11,1,6,...,55,33,39,53,3.50,18.78,27.17,0.409,0.591,NaN
79,2015,Spar Falubaz Zielona Góra,16,3,627,628,-1,6,1,7,...,41,29,30,45,6.29,30.14,14.64,0.673,0.327,NaN

In [15]:
clubs_standings = {
    2015: {'MRGARDEN GKM Grudziądz': 8, 'PGE Stal Rzeszów': 7, 'MONEYmakesMONEY.pl Stal Gorzów': 6, 'Spar Falubaz Zielona Góra': 5, 
           'KS Toruń': 4, 'Betard Sparta Wrocław': 3, 'Unia Tarnów': 2, 'FOGO Unia Leszno': 1},
    2016: {'Unia Tarnów': 8, 'FOGO Unia Leszno': 7, 'ROW Rybnik': 6, 'MRGARDEN GKM Grudziądz': 5, 
           'Betard Sparta Wrocław': 4, 'Get Well Toruń': 3, 'Ekantor.pl Falubaz Zielona Góra': 2, 'Stal Gorzów': 1},
    2017: {'ROW Rybnik': 8, 'Get Well Toruń': 7, 'MRGARDEN GKM Grudziądz': 6, 'Włókniarz Vitroszlif CrossFit Częstochowa': 5, 
           'FOGO Unia Leszno': 4, 'Cash Broker Stal Gorzów': 3, 'Betard Sparta Wrocław': 2, 'Ekantor.pl Falubaz Zielona Góra': 1},
    2018: {'Grupa Azoty Unia Tarnów': 8, 'Falubaz Zielona Góra': 7, 'MRGARDEN GKM Grudziądz': 6, 'Get Well Toruń': 5, 
           'Betard Sparta Wrocław': 4, 'forBET Włókniarz Częstochowa': 3, 'Cash Broker Stal Gorzów': 2, 'FOGO Unia Leszno': 1},
    2019: {'Get Well Toruń': 8, 'truly.work Stal Gorzów': 7, 'Speed Car Motor Lublin': 6, 'MRGARDEN GKM Grudziądz': 5, 
           'forBET Włókniarz Częstochowa': 4, 'Stelmet Falubaz Zielona Góra': 3, 'Betard Sparta Wrocław': 2, 'FOGO Unia Leszno': 1},
    2020: {'PGG ROW Rybnik': 8, 'MRGARDEN GKM Grudziądz': 7, 'Motor Lublin': 6, 'Eltrox Włókniarz Częstochowa': 5, 
           'RM Solar Falubaz Zielona Góra': 4, 'Betard Sparta Wrocław': 3, 'Moje Bermudy Stal Gorzów': 2, 'FOGO Unia Leszno': 1}
}

In [16]:
standings_data = []
for season, clubs in clubs_standings.items():
    for club, place in clubs.items():
        standings_data.append({'Sezon': season, 'Klub': club, 'Miejsce': place})

df_standings = pd.DataFrame(standings_data)
df_standings['Miejsce'] = df_standings['Miejsce'].astype('int')

In [17]:
df_standings.head()

   Sezon                            Klub  Miejsce
0   2015          MRGARDEN GKM Grudziądz        8
1   2015                PGE Stal Rzeszów        7
2   2015  MONEYmakesMONEY.pl Stal Gorzów        6
3   2015       Spar Falubaz Zielona Góra        5
4   2015                        KS Toruń        4

In [18]:
df_standings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Sezon    48 non-null     int64
 1   Klub     48 non-null     object
 2   Miejsce  48 non-null     int32
dtypes: int32(1), int64(1), object(1)
memory usage: 1.1+ KB

In [19]:
merged_df_pgee = df_pgee.merge(df_standings, left_on=['Sezon','KLUB'], right_on=['Sezon','Klub'], how='left')
merged_df_pgee['MSCTABELA'] = merged_df_pgee['MSCTABELA'].combine_first(merged_df_pgee['Miejsce'])
merged_df_pgee = merged_df_pgee.drop(columns=['Miejsce','Klub'])

In [20]:
merged_df_pgee

,Sezon,KLUB,PKTTABELA,BONTABELA,PKTZDOBYTE,PKTSTRACONE,PLUSMINUS,Z,R,P,...,WYNIK24,WYNIK15,WYNIK3321,WYNIK3330,PKTJUNIORZY,PKTPOL,PKTOBCO,PROCPKTPOL,PROCPKTOBCO,MSCTABELA
0,2024,Wrocław,19,4,920,878,42,11,1,8,...,52,47,38,56,5.55,33.45,12.55,0.727,0.273,2.0
1,2024,Leszno,11,0,586,673,-87,5,1,8,...,30,45,36,42,5.36,23.07,18.79,0.551,0.449,8.0
2,2024,Gorzów,19,3,848,860,-52,10,0,10,...,50,40,62,48,7.58,24.68,19.95,0.553,0.447,4.0
3,2024,Grudziądz,14,2,641,677,-76,6,0,10,...,40,42,38,27,6.53,16.67,26.07,0.390,0.610,5.0
4,2024,Toruń,15,3,889,909,-20,9,0,11,...,54,40,54,67,4.55,32.35,12.10,0.728,0.272,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2015,MRGARDEN GKM Grudziądz,10,0,537,721,-184,5,0,9,...,43,57,33,33,3.57,28.29,10.07,0.737,0.263,8.0
76,2015,PGE Stal Rzeszów,13,2,615,641,-26,5,1,8,...,26,41,32,42,7.21,17.21,26.71,0.392,0.608,7.0
77,2015,MONEYmakesMONEY.pl Stal Gorzów,13,3,634,624,10,5,0,9,...,25,41,44,25,14.57,25.07,20.21,0.554,0.446,6.0
78,2015,Unia Tarnów,21,4,827,792,35,11,1,6,...,55,33,39,53,3.50,18.78,27.17,0.409,0.591,2.0
79,2015,Spar Falubaz Zielona Góra,16,3,627,628,-1,6,1,7,...,41,29,30,45,6.29,30.14,14.64,0.673,0.327,5.0

In [21]:
merged_df_pgee['MSCTABELA'].isnull().sum()

0

In [22]:
df_pgee = merged_df_pgee

In [23]:
df_pgee["MSCTABELA"] = df_pgee["MSCTABELA"].astype(int)

In [24]:
df_pgee["KLUB"].unique()

array(['Wrocław', 'Leszno', 'Gorzów', 'Grudziądz', 'Toruń', 'Częstochowa',
       'Lublin', 'Zielona Góra', 'Betard Sparta Wrocław',
       'FOGO Unia Leszno', 'ebut.pl Stal Gorzów', 'Cellfast Wilki Krosno',
       'Tauron Włókniarz Częstochowa',
       'For Nature Solutions KS Apator Toruń', 'Platinum Motor Lublin',
       'ZOOLESZCZ GKM Grudziądz', 'Motor Lublin',
       'zielona-energia.com Włókniarz Częstochowa', 'Arged Malesa Ostrów',
       'Moje Bermudy Stal Gorzów', 'For Nature Solutions Apator Toruń',
       'Eltrox Włókniarz Częstochowa', 'eWinner Apator Toruń',
       'ZOOLESZCZ DPV LOGISTIC GKM Grudziądz',
       'Marwis.pl Falubaz Zielona Góra', 'MRGARDEN GKM Grudziądz',
       'PGG ROW Rybnik', 'RM Solar Falubaz Zielona Góra',
       'truly.work Stal Gorzów', 'Get Well Toruń',
       'forBET Włókniarz Częstochowa', 'Stelmet Falubaz Zielona Góra',
       'Speed Car Motor Lublin', 'Cash Broker Stal Gorzów',
       'Grupa Azoty Unia Tarnów', 'Falubaz Zielona Góra',
       'Ekantor.pl Falubaz Zielona Góra',
       'Włókniarz Vitroszlif CrossFit Częstochowa', 'ROW Rybnik',
       'Unia Tarnów', 'Stal Gorzów', 'KS Toruń', 'PGE Stal Rzeszów',
       'MONEYmakesMONEY.pl Stal Gorzów', 'Spar Falubaz Zielona Góra'],
      dtype=object)

In [25]:
club_mapper = {'Wrocław':'Betard Sparta Wrocław', 'Leszno':'FOGO Unia Leszno', 'Gorzów':'Ebut.pl Stal Gorzów', 'Częstochowa':'Krono-Plast Włókniarz Częstochowa', 'Zielona Góra':'Novyhotel Falubaz Zielona Góra',
       'Toruń':'KS Apator Toruń', 'Grudziądz':'ZOOLESZCZ GKM Grudziądz', 'Lublin':'Orlen Oil Motor Lublin'}

In [26]:
df_pgee.loc[df_pgee['Sezon']==2024,'KLUB'] = df_pgee.loc[df_pgee['Sezon']==2024,'KLUB'].map(club_mapper)

In [27]:
df_pgee.loc[df_pgee['Sezon']==2024]

,Sezon,KLUB,PKTTABELA,BONTABELA,PKTZDOBYTE,PKTSTRACONE,PLUSMINUS,Z,R,P,...,WYNIK24,WYNIK15,WYNIK3321,WYNIK3330,PKTJUNIORZY,PKTPOL,PKTOBCO,PROCPKTPOL,PROCPKTOBCO,MSCTABELA
0,2024,Betard Sparta Wrocław,19,4,920,878,42,11,1,8,...,52,47,38,56,5.55,33.45,12.55,0.727,0.273,2
1,2024,FOGO Unia Leszno,11,0,586,673,-87,5,1,8,...,30,45,36,42,5.36,23.07,18.79,0.551,0.449,8
2,2024,Ebut.pl Stal Gorzów,19,3,848,860,-52,10,0,10,...,50,40,62,48,7.58,24.68,19.95,0.553,0.447,4
3,2024,ZOOLESZCZ GKM Grudziądz,14,2,641,677,-76,6,0,10,...,40,42,38,27,6.53,16.67,26.07,0.390,0.610,5
4,2024,KS Apator Toruń,15,3,889,909,-20,9,0,11,...,54,40,54,67,4.55,32.35,12.10,0.728,0.272,3
5,2024,Krono-Plast Włókniarz Częstochowa,12,2,604,654,-50,4,2,8,...,41,33,38,40,3.29,17.21,25.93,0.399,0.601,7
6,2024,Orlen Oil Motor Lublin,31,7,1005,764,241,17,0,3,...,31,27,62,42,8.85,34.60,15.65,0.689,0.311,1
7,2024,Novyhotel Falubaz Zielona Góra,13,3,679,757,-78,4,2,10,...,51,38,41,47,5.13,31.13,11.31,0.734,0.266,6

In [28]:
df_pgee["KLUB"] = df_pgee["KLUB"].str.upper()

In [29]:
df_pgee['BONUSY'].max()

6.55

In [30]:
df_pgee.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 0 to 79
Data columns (total 29 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sezon           80 non-null     Int64
 1   KLUB            80 non-null     object
 2   PKTTABELA       80 non-null     int64
 3   BONTABELA       80 non-null     Int64
 4   PKTZDOBYTE      80 non-null     int64
 5   PKTSTRACONE     80 non-null     int64
 6   PLUSMINUS       80 non-null     int64
 7   Z               80 non-null     Int64
 8   R               80 non-null     Int64
 9   P               80 non-null     int64
 10  PKTPER15        80 non-null     float64
 11  PKTDOMPER15     80 non-null     float64
 12  PKTWYJAZDPER15  80 non-null     float64
 13  WIEK            80 non-null     float64
 14  TRIUMFY         80 non-null     float64
 15  BONUSY          80 non-null     float64
 16  WYNIK51         80 non-null     int64
 17  WYNIK42         80 non-null     int64
 18  WYNIK33         80 non-null     int64
 19  WYNIK24         80 non-null     int64
 20  WYNIK15         80 non-null     int64
 21  WYNIK3321       80 non-null     int64
 22  WYNIK3330       80 non-null     int64
 23  PKTJUNIORZY     80 non-null     float64
 24  PKTPOL          80 non-null     float64
 25  PKTOBCO         80 non-null     float64
 26  PROCPKTPOL      80 non-null     float64
 27  PROCPKTOBCO     80 non-null     float64
 28  MSCTABELA       80 non-null     int32
dtypes: Int64(4), float64(11), int32(1), int64(12), object(1)
memory usage: 18.8+ KB

In [31]:
df_pgee.iloc[:,10:13] = df_pgee.iloc[:,10:13].apply(lambda x: round(x,2))

In [32]:
print(df_pgee[['PKTPER15', 'PKTDOMPER15', 'PKTWYJAZDPER15','WIEK','TRIUMFY','BONUSY','PKTJUNIORZY',
               'PKTPOL','PKTOBCO','PROCPKTPOL','PROCPKTOBCO']].max())

PKTPER15          51.890
PKTDOMPER15       55.890
PKTWYJAZDPER15    49.710
WIEK              31.820
TRIUMFY           10.200
BONUSY             6.550
PKTJUNIORZY       14.570
PKTPOL            39.100
PKTOBCO           32.710
PROCPKTPOL         0.829
PROCPKTOBCO        0.828
dtype: float64

In [33]:
# Database connection parameters
server_name = 'DESKTOP-F00PL4B\SQLEXPRESS01'
database_name = 'PortfolioProject'
table_name = 'fctPGEEResults'

# SQLAlchemy engine creation with Windows Authentication
engine = create_engine(f"mssql+pyodbc://@{server_name}/{database_name}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server")

# Insert DataFrame into the existing table with column mapping
df_pgee.to_sql(name=table_name, con=engine, if_exists='append', index=False)

# Close the database connection
engine.dispose()